/* Paleta de cores da Amazon Prime Video */
:root {
    --amazon-primary-color: #1b86ee; /* Definição da cor azul primária */
    --amazon-secondary-color: #FF9900; /* Definição da cor laranja secundária */
}

/* Estilo global */
* {
    margin: 0; /* Remove margens padrão de todos os elementos */
    padding: 0; /* Remove preenchimento padrão de todos os elementos */
    box-sizing: 0; /* Define a caixa de modelagem como "border-box" para todos os elementos */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Define a família de fontes padrão */
}

/* Adicione estilos para a logo */
/* Adicione estilos para a logo */
.img-logo {
    border-radius: 35px;
    position: absolute;
    top: 20px; /* Ajusta a distância a partir do topo */
    right: 20px; /* Ajusta a distância a partir da direita */
    margin-right: 20px; /* Adiciona margem direita para afastar da borda direita */
    z-index: 1; /* Define a ordem de empilhamento (z-index) para estar acima de outros elementos */
}

/* Estilo da tela de login */
.container {
    
    display: flex; /* Define um contêiner flexível para centralizar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    min-height: 100vh; /* Garante que a altura mínima seja a altura da viewport (tela) */
    background: linear-gradient(to bottom, var(--amazon-primary-color), var(--amazon-secondary-color));
    /* Aplica um plano de fundo gradiente usando as cores definidas */
    border-radius: 300px;
}

.login {
    display: flex;
    flex-direction: column; /* Alinhar elementos verticalmente */
    align-items: center; /* Centralizar elementos horizontalmente */
    justify-content: center; /* Centralizar elementos verticalmente */
    background: #d3d3d3; /* Define o fundo da área de login como branco */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    padding: 20px; /* Adiciona espaço interno (preenchimento) de 20px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
    width: 500px;
    height: 500px;
    position: relative; /* Permite o posicionamento relativo para elementos filhos */

}


/* Estilo para os campos de entrada */
.formulario label {
    font-weight: 600; /* Define a espessura da fonte como negrito */
    color: var(--amazon-primary-color); /* Define a cor do texto usando a variável azul primária */
    
    
}

.formulario input {
    margin-top: 15px;
    border: none; /* Remove as bordas do campo de entrada */
    border-radius: 10px; /* Adiciona bordas arredondadas ao campo de entrada */
    padding: 15px; /* Adiciona preenchimento interno (espaçamento) de 15px */
    background: #FFFFFF; /* Define o fundo do campo de entrada como branco */
    color: #666666; /* Define a cor do texto do campo de entrada */
    font-size: 14px; /* Define o tamanho da fonte */
    outline: none; /* Remove a borda ao clicar no campo */
    box-sizing: border-box; /* Garante que o tamanho inclui bordas e preenchimento */
    margin-bottom: 10px; /* Adiciona margem inferior de 10px */
    width: 400px;
}

/* Estilo para o botão de login */
.btn_login button {
    padding: 15px 30px; /* Adiciona preenchimento interno do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 10px; /* Adiciona bordas arredondadas ao botão */
    outline: none; /* Remove a borda ao clicar no botão */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    font-weight: 500; /* Define a espessura da fonte */
    letter-spacing: 2px; /* Adiciona espaçamento entre letras */
    color: #FFFFFF; /* Define a cor do texto do botão como branco */
    background-color: var(--amazon-primary-color); /* Define a cor de fundo do botão usando a variável azul primária */
    cursor: pointer; /* Mostra um cursor de mão ao passar o mouse sobre o botão */
    margin-top: 10px; /* Adiciona margem superior de 10px */
}



.footer {
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    
}

.footer p {
    color: aliceblue;
    margin-right: 10px; 
    font-size: 10px
}

.footer img {
    width: 30px;
    margin-right: 5px; 
}